
html{
    scroll-behavior: smooth;
}
*{
    background: rgb(150, 150, 93);
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    margin: 0 0 0 450px;
}

ul{
    margin-left: 300px;
}
li{
    
     display: inline; 
    list-style-type: none;
    padding: 14px 38px;
    font-size: 25px;
    text-decoration: none;
    
}

.stt{
    display: block;
    margin-left: 500px;
    font-size: 22px;
}

.stts{
    display: block;
    margin-left: 600px;
    font-size: 22px;
    font-family: sans-serif, montserrat;
    margin-top: -20px;
}

 .links{
    text-decoration: none;
    color: black;

} 

.links:hover{
    color:  rgb(87, 78, 2);
} 

.links:active{
    color: rgb(135, 127, 62);
}

.img{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.imgs{
    width: 400px;
    height: 400px;
    padding:  0 50px;
}


.sel{
    position: absolute;
    bottom: -550px;
   margin-left:90px;
   padding: 12px 50px;
   background-color:  rgb(73, 51, 25);
   color: white;
    border-radius: 19%; 
}

#opt{
    background-color: rgb(73, 51, 25);
}



.sel:active{
    background-color:  rgb(88, 66, 33);
}

.about{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.us{
    flex: 1;
    padding: 100px 80px;
    border: 1px solid black;
    font-size: 20px;
}

.contact{
    font-size: 25px;
    font-family: Verdana, Tahoma, sans-serif;
    display: block;
    padding: 40px 500px;
    margin-left: auto;
    margin-right: auto;
}

#fill{
  padding: 20px 100px ;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
  justify-content: center;
  margin: 0 450px;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin: 40px 0 15px;
    text-align: left;
    font-weight: bold;
    color: #272222;
}
/* 
#fs{
    text-align: left;
    font-weight: bold;
    color: #272222; 
} */